/* ---------------------- /
#Reset
/----------------------- */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}


/* ---------------------- /
#General
/----------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

.padding {
    padding-left: 150px;
    padding-right: 150px;
}


/* ---------------------- /
#Body
/----------------------- */

body {
    font-size: 1rem;
    background-color: #4b4b4b;
    font-family: "Sulphur Point", sans-serif;
}


/* ---------------------- /
#Heder
/----------------------- */

.container {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.container a {
    color: #bfbfbf;
    transition-delay: 0.2s;
    transition: 0.4s ease-in;
}

.container .logo {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
}

.container .logo span {
    font-size: 20px;
    color: #4e8590;
}

.container .list ul {
    display: flex;
    gap: 30px;
    font-size: 20px;
    -webkit-column-gap: 30px;
}

.container .list ul a:hover {
    color: #4e8590;
}

.container .list ul .active {
    border-bottom: 1px solid #bfbfbf;
}

.container .list ul .active:hover {
    color: #4e8590;
    border-bottom: 1px solid #4e8590;
}


/* ---------------------- /
#Cover page
/----------------------- */

.cover-page {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: auto auto; */
}

.cover-page .bloc-container {
    color: #fff;
}

.cover-page .bloc-container h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

.profile img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}